<% unless @category.children.empty? %>
<ul id="subcat">
  <% for category in @category.children %>
    <li><%= link_to h(category.name), category %></li>
  <% end %>
</ul>
<% end %>

<p>&gt;
<% for category in @category.ancestors.reverse %>
  <%= link_to h(category.name), category %> &gt;
<% end %>
<%= @category.name %>
</p>